praw==7.7.1
requests==2.31.0
datetime==5.4
# google-api-python-client==2.111.0 
# google-auth-httplib2==0.2.0
# google-auth-oauthlib==1.2.0
# google-auth==2.25.2
google-api-python-client==1.7.2
google-auth==2.14.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
isodate==0.6.1
psycopg==3.1.16